In [1]:
#
#  Retrieve Data from an HTML Table
#
#
import yfinance as yf
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
import requests
from io import StringIO
from bs4 import BeautifulSoup

In [6]:
URL ='https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

pageHTML = requests.get(URL, headers=headers).text

In [8]:
dfearnings = pd.read_html( StringIO(str(pageHTML ))  )

In [9]:
dfearnings[0]

,Tesla Annual Revenue (Millions of US $),Tesla Annual Revenue (Millions of US $).1
0,2024,"$97,690"
1,2023,"$96,773"
2,2022,"$81,462"
3,2021,"$53,823"
4,2020,"$31,536"
5,2019,"$24,578"
6,2018,"$21,461"
7,2017,"$11,759"
8,2016,"$7,000"
9,2015,"$4,046"
10,2014,"$3,198"
11,2013,"$2,013"
12,2012,$413
13,2011,$204
14,2010,$117
15,2009,$112